@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h1 class="text-center" style="font-weight: bolder; font-size: 1.8em;color:white;">
                <br />
                <br />
                <br />
                <br />
                RX7-news is a large RX-7 Owners and Enthusiasts website.<br />
                Inside you'll find everything you need as an owner or potential buyer. Enjoy, guys!
            </h1>
            <hr width="20" style="border: 1px solid white">            
           <p class="text-center" style="font-weight: bolder; font-size: 1.5em;color:white;">in this website, you can find news about car service, car sales and buy, and share your story with your own rx7 </p>
            <div class="col-md-12 text-center">
                <button type="button" class="btn-link"><h2>@Html.ActionLink("find out more", "About", "Home")</h2></button>
            </div>
    </div>
</div>
</div>